# Reborn cfg для кваров
# Author Amx Mod X Studio

rb_damage_ak "2.0"
rb_damage_awp "2.0"
rb_damage_m4a1 "2.0"

rb_round_active "0"
rb_round_ak "0"
rb_round_m4a1 "0"
rb_round_awp "0"

knife_view_model "v_knifetest"
knife_player_model "p_knifetest"
knife_world_model ""
ak_view_model "v_ak47test"
ak_player_model "p_ak47test"
ak_world_model "w_ak47test"
awp_view_model "v_awptest"
awp_player_model "p_awptest"
awp_world_model "w_awptest"
m4a1_view_model "v_m4a1test"
m4a1_player_model "p_m4a1test"
m4a1_world_model "w_m4a1test"
